

<ion-pane>
   <ion-header-bar class="bar-stableb colorbg">
      <div class="srch_li">Cool of New York</div>
   </ion-header-bar>
   <ion-content class="theme-bg">
      <div class="full-bg">
         <div class="bmd-search-bar-outer">
            <button class="button button-positive button-clear button_text icon ion-ios-search txt-color-gray"></button>
            <input type="text" class="bmd-input" placeholder="Search doctor and clinics">
            <button class="button button-positive button-clear button_text icon ion-ios-close txt-color-gray"></button>
         </div>
      </div>
      <div class="screen_wht">
		  	<!--tab-list-->
         <div class="bmd-appmnt-tab">
            <ul>
               <li>ALL</li>
               <li>MOVIES</li>
               <li>RESTURANTS</li>
               <li class="bmd-appmnt-tab-current">HOSPITALS</li>
               <li>fIND PEOPLE</li>
            </ul>
         </div>
		  	<!--tab-list end-->
         <br>
		  
		  <!---featured-gall tab-list-->
         <div class="md_gall">
            <ul>
               <li>
                  <img src="img/building.png">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
               <li>
                  <img src="img/building.png" style="background-size:cover;">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
               <li>
                  <img src="img/building.png">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
               <li>
                  <img src="img/building.png">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
               <li>
                  <img src="img/building.png">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
               <li>
                  <img src="img/building.png">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
               <li>
                  <img src="img/building.png">
                  <div class="element"> king soude Medical City <br>
                     Riyad
                  </div>
               </li>
            </ul>
         </div>
      </div>
	     <!---featured-gall tab-list end-->
      <br>  
      <div class="browsw_gall"> All Details</div>
   </ion-content>
</ion-pane>

