<ion-view>
   <ion-header-bar class="bar-stableb colorbg">
   </ion-header-bar>
   <ion-content ng-init="initMap()">
      <div class="full-bg">
         <div class="bmd-search-bar-outer">
            <button class="button button-positive button-clear button_text icon ion-ios-search txt-color-gray"></button>
            <input type="text" class="bmd-input" placeholder="What service do you need today?" ng-change="search()" ng-model="data.search">
           <!--  <button class="button button-positive button-clear button_text icon ion-ios-close txt-color-black"></button> -->
         </div>
      </div>
   <div class="menu_simple" ng-show="showList">
      <ul>
         <li ng-repeat="businesses in business | filter:data.search" ng-click='data.search=businesses.name;hideList(businesses)'><a href="#">{{businesses.name}}</a></li>
      
      </ul>
       <ul  ng-if="business.name!=data.search">
         <li ><a href="#">No results</a></li>
        
      </ul>
   </div>
       
      <div  id="map-canvas"  style="width:100%;height:200px;" class="map" ></div>

      <li class="bmd-result-row"  ng-repeat="business in categorylist[0]" ng-show="from_type!='cgoogle'" ng-click="businessDetails(business.id)">
         <div class="bmd-result1">
            <div class="bmd-result-details mar">
                  <h3>{{business.name}}</h3>
              
               <div>
                  <raty id="star{{$index}}" score="{{business.rating}}" number="5"></raty>
               
               </div>
               <p>{{business.formatted_address}}<br>
                  {{business.formatted_phone_number}}<br>
                  
                  <img src="img/loccation.png" width="15px" height="15px;"> <span class="md_loc">{{business.address_components[0].long_name}}</span>
               </p>
            </div>
            <div class="bmd-result-dstnce">
               <!-- <p class="dstn">1.2 KM</p> -->
            </div>
         </div>
      </li>
       <li class="bmd-result-row"  ng-repeat="business in categorylist[0]" ng-show="from_type=='cgoogle'" ng-click="businessGooglDetails(business.place_id,from_type,type='cat')">
         <div class="bmd-result1">
            <div class="bmd-result-details mar">
                  <h3>{{business.name}}</h3>
              
               <div>
                  <raty id="star{{$index}}" score="{{business.rating}}" number="5"></raty>
               
               </div>
               <p>{{business.formatted_address}}<br>
                  {{business.formatted_phone_number}}<br>
                  
                  <img src="img/loccation.png" width="15px" height="15px;"> <span class="md_loc">{{business.address_components[0].long_name}}</span>
               </p>
            </div>
            <div class="bmd-result-dstnce">
             <!--   <p class="dstn">1.2 KM</p> -->
            </div>
         </div>
      </li>
     <!--  from type api_name -->

        <li class="bmd-result-row"   ng-repeat="googleresult in result" ng-show="from_type=='api_name'" ng-click="businessGooglDetails(googleresult.place_id,from_type)">
         <div class="bmd-result1"  >
            <div class="bmd-result-details mar">
                  <h3>{{googleresult.name}}</h3>
                    
               <div>
                  <raty id="star{{$index}}" score="{{googleresult.rating}}" number="5"></raty>
               
               </div>
               <p>{{googleresult.formatted_address}}<br>
                  {{googleresult.formatted_phone_number}}<br>
                  
                  <img src="img/loccation.png" width="15px" height="15px;"> <span class="md_loc">{{googleresult.address_components[0].long_name}}</span>
               </p>
            </div>
            <div class="bmd-result-dstnce">
              <!--  <p class="dstn">1.2 KM</p> -->
            </div>
         </div>
      </li>
     <!--  end from type api_name -->
       <!-- category -->

        <li class="bmd-result-row"  ng-repeat="googleresult in result[0]" ng-show="from_type=='google'" ng-click="businessGooglDetails(googleresult.place_id,from_type)">
         <div class="bmd-result1"  >
            
            <div class="bmd-result-details mar">
                  <h3>{{googleresult.name}}</h3>
                  
               <div>
                  <raty id="star{{$index}}" score="{{googleresult[0].rating}}" number="5"></raty>
               
               </div>
               <p>{{googleresult.formatted_address}}<br>
                  {{googleresult.formatted_phone_number}}<br>
                  
                  <img src="img/loccation.png" width="15px" height="15px;"> <span class="md_loc">{{googleresult.address_components[0].long_name}}</span>
               </p>
            </div>
            <div class="bmd-result-dstnce">
              <!--  <p class="dstn">1.2 KM</p> -->
            </div>
         </div>
      </li>
     <!--  end category -->
      <!--  from type other -->

        <li class="bmd-result-row"   ng-repeat="googleresult in result" ng-show="from_type=='other'" ng-click="businessDetails(googleresult[0].id)">
         <div class="bmd-result1">
            <div class="bmd-result-details mar">
                  <h3>{{googleresult[0].name}}</h3>
                   
               <div>
                  <raty id="star{{$index}}" score="{{googleresult[0].rating}}" number="5"></raty>
               
               </div>
               <p>{{googleresult[0].street_address}}<br>
                  {{googleresult[0].phone_number}}<br>
                  
                  <img src="img/loccation.png" width="15px" height="15px;"> <span class="md_loc">{{googleresult[0].city}}</span>
               </p>
            </div>
            <div class="bmd-result-dstnce">
              <!--  <p class="dstn">1.2 KM</p> -->
            </div>
         </div>
      </li>
     <!--  end from type other -->
   </ion-content>
</ion-view>

